body {
	font: 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
    bbackground: linear-gradient(to right, red , yellow);
	color: rgba(0,0,0,.5);
  }
}

h1 {
	font: 600 3.5em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

button {
	margin: 1em;
}

button:hover {
	box-shadow: 2px 2px 10px grey, 2px 2px 10px grey;
}

input:hover {
	box-shadow: 2px 2px 10px grey, 2px 2px 10px grey;
}